<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace对应接口全类名 -->
<mapper namespace="usts.pycro.mybatisplus.mapper.UserMapper">

    <sql id="user_fields">
        uid AS id, user_name AS name, age, email, is_deleted
    </sql>
    <select id="selectMapById" resultType="map">
        select
        <include refid="user_fields"/>
        from user
        where id = #{id};
    </select>
    <select id="selectPageVo" resultType="usts.pycro.mybatisplus.pojo.User">
        select
        <include refid="user_fields"/>
        from t_user
        where is_deleted = 0 and age > #{age}
    </select>
</mapper>